/* Styling for all elements */
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Flex-Box for Body element */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 14px;
}

/* header and footer styles */
header {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: #252323;
}

footer {
    font-size: 0.75rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    color: #3F3B3B;
}

/* calculator styles */
.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    background-color: #252323;
    gap: 0.5rem;
    padding: 1rem;
}

/* button styles */

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 0.5rem;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    gap: 0.5rem;
}

.button {
    width: 25%;
    height: 100%;
    border-radius: 0;
    color: #F5F1ED;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.green-button {
    background-color: #34704D;
}

.orange-button {
    background-color: #ED9121;
}

.blue-button {
    background-color: #2b547e;
}

#zero-button {
    flex-grow: 1;
}



/* Input and output styles for calculator */
.calc-display {
    height: 20%;
    width: 100%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-color: #252323;
    color: #F5F1ED;
    padding: 0.5rem;
}